<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome</span>
  <span class="example-spacer">         </span>
  <span class="example-spacer">         </span>
  <span class="example-spacer"> </span>
 <button mat-raised-button color="warn" (click)="openDialog()">Add Data</button>
</mat-toolbar>
</p>
<div class="container">
  <button mat-raised-button (click)="getDataFromAPI()" color="primary">Get Data</button>
  <button mat-raised-button  color="primary">Post Data</button>
</div>

<ul *ngFor="let d of data">
  <li>{{d.id}}</li>
  <li>{{d.title}}</li>
  <li>{{d.body}}</li>
</ul>